@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;1,100;1,300;1,400&family=Pathway+Gothic+One&display=swap');
:root {
    --white: white;
    --accentOrange: #F8CB00;
    --gunmetal: #2D3142;
    --headerDark: #04121F;
    --paynes: #4F5D75;
    --silver: #BFC0C0;
  }

  header {
    margin: 0;
    width: 100%;
    padding: 7px 10% 7px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--headerDark);
    color: var(--white);
    box-shadow: 0px 0px 30px var(--accentOrange);
    position: fixed;
    left: 0%;
    top: 0;
  }

  header ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
  }

  #searchBar {
    font-family: inherit;
    width: 20%;
    height: 30px;
    padding: 10px;
    border: solid var(--paynes) 1px;
    background-color: var(--white);
    border-radius: 5px;
    transition: all 300ms ease-in-out;
    outline: none;
    color: var(--gunmetal);

  }

  #searchBar:focus {
    border: solid var(--accentOrange) 2px;
    box-shadow: 0px 0px 10px var(--accentOrange);
  }

#hiveLogo {
    height: 50px;
    width: auto;
  }

#navElement {
    transition: all 300ms ease-in-out;
    position: relative;
    color: rgb(232, 232, 232);
    transition: all 300ms ease-in-out;
}

#navElement:hover {
    color: var(--white)
}

#navElement::after {
    content: '';
    position: absolute;
    height: 0.1rem;
    width: 100%;
    background-color: var(--accentOrange);
    left: 0;
    bottom: -5px;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    opacity: 0.7;
    transition: all 0.3s ease;
}

#navElement:hover::after {
    transform: scale(1,1);
    opacity: 1;
}

  a {
    color: inherit;
    text-decoration: none;
  }

  @media (width < 700px) {
    #searchBar {
        display: none;
    }

    #headerTitle {
        display: none;
    }
  }