.loginBox {
    background-color: rgb(237, 237, 237);
    background-color: #25313b;
    height: 50vh;
    width: 50vw;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: all 300ms ease-in-out;
    box-shadow: 0px 0px 5px var(--accentOrange);
    color: var(--white);
    font-family: "Montserrat";
}

.loginBox:hover {
    box-shadow: 0px 0px 15px var(--accentOrange);

}

.loginBox {
    display: flex;
    overflow: hidden;

}

#hiveIconLogin {
    height: 30%;
    width: auto;
    transform: rotate(0deg);
    position: absolute;
    left: 30%;
    top: 19%;

}

#loginForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    font-family: "Montserrat";
}

#loginForm input {
    width: 100%;
    padding: 7px;
    outline: none;
    border: solid var(--headerDark) 2px;
    border-radius: 15px;
    transition: all 300ms ease-in-out;
}

#loginForm input:focus {
    border: solid var(--accentOrange) 2px;
}

#loginButton {
    border: solid var(--headerDark);
    width: 60%;
    border-radius: 10px;
    font-family: inherit;
    background-color: var(--accentOrange);
    cursor: pointer;
    transition: all 300ms ease-in-out;
    padding: 3px;
    color: var(--paynes)
}

#loginButton:hover {
    background-color: #25313b;
    color: var(--accentOrange)
}




