
@keyframes sheen {
    0% {
      transform: skewY(-45deg) translateX(0);
    }
    100% {
      transform: skewY(-45deg) translateX(12.5em);
    }
  }

  /* code borrowed from Jessica Biggs https://codepen.io/bigglesrocks/pen/RPzNjw */
  .buttonWrapper {
    display: block;
  }
  
  .orangeButton {
    transform: scale(50%);
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: var(--accentOrange);
    border: 2px solid var(--accentOrange);
    font-size: 24px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
  }
  .orangeButton:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  .orangeButton:hover {
    background-color: var(--accentOrange);
    color: #fff;
    /* border-bottom: 4px solid orange; */
  }
  .orangeButton:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
  }