.catForm {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #04121F ;
  }
  
  .catForm label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #F8CB00;
  }
  
  .catForm input,
  .catForm select,
  .catForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .catForm textarea {
    height: 200px;
  }
  
 .catForm button {
    background-color: #4F5D75;
    font-weight: bold;
    font-size: 27px;
  }