@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;1,100;1,300;1,400&display=swap');
:root {
  --white: white;
  --accentOrange: #F8CB00;
  --gunmetal: #2D3142;
  --headerDark: #04121F;
  --paynes: #4F5D75;
  --silver: rgb(191, 192, 192);
}

*, *:before, *:after {
  box-sizing: border-box;
}

main {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gunmetal);
  background-image: radial-gradient(circle at 1px 1px, rgba(191, 192, 192, 0.4), 1px, transparent 0);
  background-size: 40px 40px;
  height: 100vh;
  color: var(--white);
}

.mainContent {
  margin: 15vh 12% 0 12%;
}
